$cta_bg: #0f434c;
$cta_white: #fff;
$cta_text: #ccccb4;
$cta_link: #1da1db;

.cta {
  background: $cta_bg;
}

.cta__body {
  align-items: center;
  display: flex;
  flex-flow: row;
  max-width: 65rem;
  margin: 0 auto;

  @media screen and (max-width: 40rem) {
    flex-flow: column;
    justify-content: center;
  }
}

.cta__text {
  color: $cta_text;
  flex: 1 1 auto;
  padding: 2em;
  text-align: center;

  svg {
    height: 3em;
    width: 3em;
    position: absolute;
    transform: translateY(-50%);
  }
}

.cta__link {
  background-color: $cta_link;
  border-radius: 5px;
  color: $cta_white;
  font-family: 'Montserrat';
  font-weight: 700;
  height: 100%;
  margin: 2em;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .25s ease-in-out, color .25s ease-in-out;
  white-space: nowrap;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($cta_link, 10%);
    color: darken($cta_white, 10%);
  }
}
