$border: #dedede;
$dropdown_bg: #f9f9f9;
$dropdown_font: #888;
$dropdown_border: #dedede;
$result_font_color: #555;

.filters-content {
  border: 1px solid $border;
  max-width: 60rem;
  margin: 2em auto;
  font-family: $montserrat;
  font-weight: 600;

  @media screen and (max-width: 60rem) {
    border-left: 0;
    border-right: 0;
  }
}

.filters-section {
  padding: .5em 2em;
}

.results-section {
  padding: 1em 2em;
  border-top: 2px solid $border;
  color: $result_font_color;
}

@import "filterable_content/filters";
@import "filterable_content/results";
