$t_bg: #f9f8f7;
$t_white: #fff;
$t_orange: #f7751f;
$t_font: #555;

.testimonial {
  background: $t_bg;
  color: $t_font;
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: .8em;
  padding: 50px 2em;

  @media screen and (min-width: 45rem) {
    font-size: 1em;
  }

  @media screen and (min-width: 65rem) {
    font-size: 1.2em;
  }
}

.testimonial__body {
  border-left: 2px solid $t_orange;
  padding-left: 25px;
  position: relative;
  max-width: 45rem;
  margin: 0 auto;

  svg {
    width: 4em;
    height: 4em;
  }

  &::before,
  &::after {
    background: $t_orange;
    border-radius: 50%;
    display: block;
    left: -1px;
    position: absolute;
  }

  &::before {
    border: 4px solid $t_bg;
    color: $t_white;
    content: '“';
    font-family: 'Montserrat';
    font-size: 2.5rem;
    height: 30px;
    text-align: center;
    top: 0;
    transform: translate(-50%, -50%);
    width: 30px;
  }

  &::after {
    content: '';
    width: 8px;
    height: 8px;
    transform: translate(-50%, 50%);
    bottom: 0;
  }
}

.testimonial__author {
  display: block;
  font-family: 'Montserrat';
  font-size: .8em;
  font-weight: 700;
  transform: translateY(50%);


  svg {
    width: .8em;
    height: .8em;
  }

  @media screen and (min-width: 65rem) {
    font-size: 1em;
  }
}
