// Base file to import other scss files into.
$fallback_font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$roboto: "Roboto Slab", $fallback_font;
$montserrat: "Montserrat", $fallback_font;

// Normalize css across browsers
@import '~normalize.css';

// Relative imports
@import '../styles/_cta';
@import '../styles/_filterable_content';
@import '../styles/_testimonial';

// Resets
body {
  font-family: $roboto;
  font-size: 16px;
}


