<section class="filters-content">
	<div class="filters-section" id="filters">
		<div>
			<div class="filters-container">
				<div class="filters">
					<div class="dropdown" id="genreDropdown">
						<span>Genre</span>
						<div class="dropdown__options">
            </div>
					</div>
					<div class="dropdown" id="yearDropdown">
						<span>Year</span>
						<div class="dropdown__options">
            </div>
					</div>
					<div class="search">
						<input type="text" name="title">
					</div>
				</div>
				<div class="filters">
					<div class="radio-button">
						<input type="radio" id="movies" name="type" value="movie">
						<label for="movies">Movies</label>
					</div>
					<div class="radio-button">
						<input type="radio" id="books" name="type" value="book">
						<label for="books">Books</label>
					</div>
					<div class="clear-link">
						<a href="#" id="clearLink">Clear filters</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="results-section">
		<div>
			<div class="results-container">
				<ul class="results" id="results">
        </ul>
			</div>
		</div>
	</div>
</section>
