$anchor: #1da1db;

.filters {
  display: flex;
  align-items: center;
  font-family: $montserrat;

  &:first-child {
    padding-bottom: 1em;
  }

  .search {
    margin-left: auto;
    position: relative;

    input {
      border: 1px solid $dropdown_border;
      padding: .4em .4em .4em 1.5em;
    }

    &::after {
      background-image: url('/assets/svgs/search.svg');
      background-repeat: no-repeat;
      background-size: cover;
      color: gray;
      content: '';
      height: 1.3em;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 1.3em;
    }
  }

  .dropdown {
    background-color: $dropdown_bg;
    border-bottom: 5px solid $dropdown_border;
    color: $dropdown_font;
    margin-right: 1em;
    position: relative;
    padding: .5em 2em .5em .5em;
    cursor: pointer;
    font-weight: 600;
    font-size: .9em;
    text-transform: uppercase;

    span {
      display: block;
      position: relative;
      width: 100%;

      &:after {
        content: "˅";
        position: absolute;
        display: block;
        right: -20px;
        font-size: .8em;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;
      }
    }

    .option {
      display: flex;
      align-items: center;
      padding: .75em;
      text-transform: uppercase;
      border-bottom: 1px solid $dropdown_border;

      &:last-child {
        border-bottom: 0;
      }

      input[type="checkbox"] {
        margin-right: 1em;
      }

      &:hover,
      &:focus {
        background: $dropdown_border;
      }
    }

    .dropdown__options {
      min-width: 8rem;
      display: none;
      position: absolute;
      transform: translateY(24px);
      left: 0;
      background: $dropdown_bg;
      text-transform: none;
      max-height: 10em;
      overflow: auto;
      border: 1px solid $dropdown_border;
    }

    // Add the class open to open the dropdown
    &.open {
      .dropdown__options {
        display: block;
      }

      &::before,
      &::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        bottom: -18px;
        border-width: 0 16px 12px 16px;
        left: 12px;
      }

      &::before {
        transform: translateY(-1px);
        border-color: transparent transparent $dropdown_border;
      }

      &::after {
        border-color: transparent transparent $dropdown_bg;
      }
    }
  }

  .radio-button {
    margin-right: 1em;
    color: $dropdown_font;
  }

  input[type=radio] {
    margin-right: .2em;
  }

  .clear-link {
    margin-left: auto;

    a {
      text-transform: uppercase;
      color: $anchor;
      font-weight: 800;

      &:visited {
        color: $anchor;
      }

      &:hover,
      &:focus,
      &:active {
        color: darken($anchor, 10%);
      }
    }
  }
}


// At smaller screen sizes

@media screen and (max-width: 45rem) {
  .filters {
    flex-flow: row wrap;
    justify-content: center;

    .dropdown {
      width: auto;
      margin: 0 1% 1em 1%;
    }

    .search {
      margin: 0 auto;
    }

    .clear-link {
      margin: 1em auto 0;
    }
  }
}
