.results {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
  grid-gap: 1.5em;
  padding: 0;
  margin: 0;

  li {
    display: block;

    &.empty {
      text-align: center;
      font-size: 1.4em;
    }
  }

  .poster {
    display: block;
    height: 400px;
    margin: 0 auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .details {
    padding-top: 1em;

    div:last-child {
      font-size: .8em;
      padding-top: .3em;
    }
  }

  @media screen and (max-width: 25rem) {
    .details {
      font-size: .8em;
    }
  }
}
